* {
  margin: 0;
  padding: 0;
  /*  border: 1px solid red ; */
}

.cv-header {
  background-color: rgb(29, 50, 81);
  display: flex;
  align-items: center;
  height: 250px;
  padding-left: 1em;
}

.photo_name_container {
  display: flex;
}

.name_scholarship_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1em;
  padding-right: 2em;
}

.cv-header img {
  height: 150px;
  padding: 7px;
  background-color: rgb(173, 185, 202);
}

h1 {
  color: rgb(205, 237, 218);
  font-family: Rockwell;
  font-weight: 500;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 0.5em;
  margin-right: 1em;
}

.main_scholarship {
  color: aliceblue;
  font-family: corbel;
  letter-spacing: 6px;
  padding-right: 2em;
}

main {
  font-family: corbel;
  display: flex;
  flex-direction: column;
}

section {
  margin-left: 1em;
  padding-right: 1em;
}

.title {
  color: rgb(31, 73, 125);
  font-style: italic;
  font-weight: bold;
  border-top: 1em solid rgb(205, 237, 218);
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid grey;
  margin-left: 0;
  padding-left: 2em;
  font-size: x-large;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}

.expierence {
  margin-top: 2em;
  padding-left: 1em;
  font-size: larger;
}

article {
  margin-bottom: 1em;
}

.cours_title {
  font-size: larger;
}

.organization {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: bold;
}

p, em {
  font-weight: 900;
}

.skills {
  background-color: rgb(106, 116, 126);
  color: rgb(205, 237, 218);
  margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 0;
  margin-left: 0;
}

.main_skills {
  font-size: larger;
  font-weight: bolder;
}

.skills dt {
  padding-bottom: 1em;
}

.skills dt:last-of-type {
  padding-top: 1em;
}

h4 {
  font-size: larger;
}

.contacts {
  background-color: rgb(230, 230, 230);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  margin-left: 0;
  order: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
}

.contacts img {
  height: 20px;
  padding-right: 0.5em;
}

.contacts p {
  margin-bottom: 0.5em;
  display: flex;
}

.skills, .education, .contacts {
  align-self: stretch;
  text-align: center;
}

footer {
  background-color: rgb(205, 237, 218);
  padding-bottom: 2em;
}

@media (min-width: 768px) {
  .skills {
    line-height: 1.5em;
  }
}

@media (min-width: 992px) {
  .skills-education {
    display: flex;
  }
  .education {
    flex-grow: 1;
    padding-top: 1em;
    background-color: rgb(106, 116, 126);
    color: rgb(205, 237, 218);
    line-height:  1.5em;
  }
  .skills, .education {
    margin-bottom: 0;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .contacts {
    order: 0;
    align-items: baseline;
  }

  .skills-education {
    display: block;
    width: 30%;
  }

  .education {
    background-color: white;
    color: black;
  }

  .skills, .education, .contacts {
    text-align: left;
    width: auto;
  }

  main {
    display: flex;
    flex-flow: column wrap-reverse;
    height: 800px;
    align-content: flex-end;
  }

  .expierence {
    border-left: 2px solid grey;
    padding-left: 2em;
    width: 60%;
  }

  section {
    margin-left: 2em;
  }
}
